body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

#palette-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.color-box {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
  transition: transform 0.2s ease;
}

.color-box:hover {
  transform: scale(1.08);
}

#generate-btn {
  padding: 12px 22px;
  background: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}
