body {
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.slider {
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
